<div class="signUp-container">
  <div class="row">
    <div class="col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-1">
      <h3>Pick Date & Time</h3>
      <!--
      <p>Planning Meeting with {{teacher.name}}</p>
      -->
      <hr>
      <p>All times are in <select id="timezone-selector"></select></p>
      <div>
        <!--
        <angular2-fullcalendar id="freeTrailScheduler" [options]="calendarOptions"></angular2-fullcalendar>
        -->
      </div>
      <button type="button" class="btn btn-info">Next Step</button>
    </div>
  </div>
</div>
