<img src="../../../assets/images/homepic.png">
<hr class="home-hr">
<p style=" color: black; font-size: 60px;">Where kids ages 4-14 learn to code, creatively. </p>
<p>BlockSchool is the first live online school to teach kids how to code. Choose a teacher, schedule a time, and your child will start learning how to code in magical block world.</p>
<p>We believe coding is the language of 21st century.</p>
<div>
  <a class="btn btn-info">Sign up</a>
</div>

<hr class="home-hr">
<p class="p-header">To biuld with blocks, kids write code.</p>
<p class="p-content">Children love blocks. Blocks help children image and create. This is why BlockSchool's central concept is a block</p>
<br>
<p class="p-content">
  To build with blocks, kids write code in a Scratch-like visual programming language called Puzzle. This empowers them
  to build whatever they want (and a lot faster than LEGOs).
</p>

<hr class="home-hr">
<p class="p-header">A project-based curriculum where kids learn by doing</p>
<p class="p-content">
  BlockSchool puts students first, which is why students have complete freedom over which projects they choose to do. With project ranging
  from helping an elephant find food to remixing a song, every student can pursue their interests.
</p>
<br>
<p class="p-content">
  At BlockSchool, there are no lectures, grades, or answer keys. Teachers use the Socratic Method to ask the key questions that guide the
  student to their goal.
</p>
<br>
<p class="p-content">
  Through coding, curiosity is rewarded by giving students more things to explore.
</p>

<hr class="home-hr">
<p class="p-header pull-left">Teachers from top 100 colleges, & great with kids</p>
<img src="#" class="pull-right">
<ul class="col-md-3">
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
</ul>
<ul class="col-md-3">
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
  <li><img src="#"></li>
</ul>
<div class="col-md-6">
  <p class="p-content">
    BlockSchool only hires teachers from top 100 US colleges. Every teacher must pass both
    a technical interview, have some experience teaching, and complete a background check.
  </p>
  <p class="p-content">
    Teachers prepare for each class by having recently completed the same project your child
    is working on. During each class, teachers are tracking student progress across many dimensions
    so parents are always in the loop.
  </p>
</div>

<!--Pricing-->
<hr class="home-hr">
<p class="p-header">Pricing</p>
<img class="horizon-small-blocks pull-right" src="#">
<p class="p-content">
  Given BlockSchool is an entirely online school with little overhead, we have the most comptitive prices in the industry.
</p>
<br>
<p class="p-content">
  Choose any teacher at any available time. Classes can be scheduled in advance, each week, or on a whim. Cancel any class
  with in 24 hours to receive full credit.
</p>

