<img src="../../../assets/images/homepic.png">
<hr class="home-hr">
<p style=" color: black; font-size: 60px;">Where kids ages 4-14 learn to code, creatively. </p>
<p>BlockSchool is the first live online school to teach kids how to code. Choose a teacher, schedule a time, and your child will start learning how to code in magical block world.</p>
<p>We believe coding is the language of 21st century.</p>
<div *ngIf="!authenticated()">
  <a class="btn btn-info" (click)="login()">Sign up</a>
</div>

<!--Mission-->
<div class="content-block">
  <hr class="home-hr">
  <div class="row">
    <div class="col-md-10">
      <p class="p-header">To biuld with blocks, kids write code.</p>
      <p class="p-content">
        Children love blocks. Blocks help children image and create. This is why
        BlockSchool's central concept is a block
      </p>
    </div>
    <div class="col-md-2 pull-right">
      <img class="vertical-small-blocks center" src="../../../assets/images/2.png">
    </div>
  </div>
  <p class="p-content">
    To build with blocks, kids write code in a Scratch-like visual programming language called Puzzle.
    This empowers them to build whatever they want (and a lot faster than LEGOs).
  </p>
</div>

<!--Project-->
<div class="content-block">
  <hr class="home-hr">
  <div class="row">
    <div class="col-md-10">
      <p class="p-header">A project-based curriculum where kids learn by doing</p>
      <p class="p-content">
        BlockSchool puts students first, which is why students have complete freedom over which projects they
        choose to do. With project ranging from helping an elephant find food to remixing a song, every student
        can pursue their interests.
      </p>
      <br>
      <p class="p-content">
        At BlockSchool, there are no lectures, grades, or answer keys. Teachers use the Socratic Method to ask
        the key questions that guide the student to their goal.
      </p>
      <br>
      <p class="p-content">
        Through coding, curiosity is rewarded by giving students more things to explore.
      </p>
    </div>
    <div class="col-md-2">
      <img class="horizontal-small-blocks center" src="../../../assets/images/3.png">
      <img class="center" src="../../../assets/images/1.png" style="width: 200px; height: 200px; margin-top: 50px;">
    </div>
  </div>
</div>

<!--Teachers-->
<div class="content-block">
  <hr class="home-hr">
  <div class="row">
    <div class="col-md-10">
      <p class="p-header pull-left">Teachers from top 100 colleges, & great with kids</p>
    </div>
    <div class="col-md-2">
      <img src="../../../assets/images/4.png" class="horizontal-small-blocks center">
    </div>
  </div>
  <div class="row">
    <ul class="col-md-2" style="list-style: none;">
      <li><img class="unversity-log" src="../../../assets/images/Upenn.png"></li>
      <li><img class="unversity-log" src="../../../assets/images/Texas.png"></li>
      <li><img class="unversity-log" src="../../../assets/images/Princeton.jpg"></li>
      <li><img class="unversity-log" src="../../../assets/images/u-m-university-of-michigan-logo.jpg"></li>
      <li><img class="unversity-log" src="../../../assets/images/Cornell_University_logo.svg.png"></li>
    </ul>
    <ul class="col-md-2" style="list-style: none;">
      <li><img class="unversity-log" src="../../../assets/images/harvard-logo.png"></li>
      <li><img class="unversity-log" src="../../../assets/images/primarylogo.png"></li>
      <li><img class="unversity-log" src="../../../assets/images/LogoUCLA450_USE+THIS+ONE.png"></li>
      <li><img class="unversity-log" src="../../../assets/images/nyu_logo_new_york_university1.jpg"></li>
      <li><img class="unversity-log" src="../../../assets/images/University_of_Virginia_logo.svg.png"></li>
    </ul>
    <div class="col-md-8">
      <p class="p-content">
        BlockSchool only hires teachers from top 100 US colleges. Every teacher must pass both
        a technical interview, have some experience teaching, and complete a background check.
      </p>
      <p class="p-content">
        Teachers prepare for each class by having recently completed the same project your child
        is working on. During each class, teachers are tracking student progress across many dimensions
        so parents are always in the loop.
      </p>
    </div>
  </div>
</div>

<!--Pricing-->
<div class="content-block">
  <hr class="home-hr">
  <div class="row">
    <div class="col-md-10">
      <p class="p-header">Pricing</p>
    </div>
    <div class="col-md-2">
      <img class="horizontal-small-blocks center" src="../../../assets/images/3.png">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="p-content">
        Given BlockSchool is an entirely online school with little overhead, we have the most comptitive prices in the industry.
      </p>
      <p class="p-content">
        Choose any teacher at any available time. Classes can be scheduled in advance, each week, or on a whim. Cancel any class
        with in 24 hours to receive full credit.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="pricing-table">
      <div class="col-md-3">
        <div style="text-align: center">
          <div class="pricing-table-content">
            <h1>Basic</h1>
            <p>30 Classes</p>
            <br>
            <p>20 hours, $48/hour</p>
            <p>40 minutes per class</p>
            <br>
            <h1>$960</h1>
            <p style="font-size: 10px">for 1 student</p>
            <h1>$480</h1>
            <p style="font-size: 10px">each for 2 students</p>
            <button type="button" class="btn btn-info purchase-button">Purchase</button>
          </div>
          <div class="column-split pull-right"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div style="text-align: center">
          <div class="pricing-table-content center">
            <h1>Medium</h1>
            <p>60 Classes</p>
            <br>
            <p>40 hours, $42/hour</p>
            <p>40 minutes per class</p>
            <br>
            <h1>$1680</h1>
            <button type="button" class="btn btn-info purchase-button">Purchase</button>
          </div>
          <div class="column-split pull-right"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div style="text-align: center">
          <div class="pricing-table-content center">
            <h1>Large</h1>
            <p>120 Classes</p>
            <br>
            <p>80 hours, $37/hour</p>
            <p>40 minutes per class</p>
            <br>
            <h1>$2960</h1>
            <button type="button" class="btn btn-info purchase-button">Purchase</button>
          </div>
          <div class="column-split pull-right"></div>
        </div>
      </div>

      <div class="col-md-3">
        <div style="text-align: center">
          <div class="pricing-table-content center">
            <h1>Extra</h1>
            <p>More Classes</p>
            <br>
            <p>? hours, $?/hour</p>
            <p>40 minutes per class</p>
            <br>
            <h1>$5900/+</h1>
            <a style="color: lightblue;">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--Team-->
  <div class="content-block">
    <hr class="home-hr">
    <div class="row">
      <div class="col-md-10">
        <p class="p-header">Team</p>
      </div>
      <div class="col-md-2">
        <img class="vertical-small-blocks center" src="../../../assets/images/2.png">
      </div>
    </div>

    <div class="row">
      <p>The BlockSchool team learned how to code as children, and in college.</p>
      <div class="col-md-6">
        <img class="center team-member-pic" src="../../../assets/images/Tony.png">
        <h1>Tony Diepenbrock</h1>
        <p>
          Tony graduated from the University of Pennsylvania in 2013. After graduating,
          he went on to work as a software engineer for Hybris (acq. by SAP), and
          various startups. In his "free" time, he is a competitive fencer, and tutors
          kids chess and coding in SF.
        </p>
      </div>
      <div class="col-md-6">
        <img class="center team-member-pic" src="../../../assets/images/Charles.png">
        <h1>Charles Moyes</h1>
        <p class="p-content">
          Charles graduated from Cornell in 2012 majoring in CS and minoring in EE. He
          has worked as software engineer for companies like Xbox, Nvidia, Disney, and
          various startups. Charles is a runner and loves Minecraft.
        </p>
      </div>
    </div>
  </div>

  <!--FAQ-->
  <div class="content-block">
    <hr class="home-hr">
    <div class="row">
      <div class="col-md-10">
        <p class="p-header">FAQ</p>
      </div>
      <div class="col-md-2">
        <img class="vertical-small-blocks center" src="../../../assets/images/2.png">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>1. Why leanr coding?</h2>
        <br>
        <p class="p-content">
          Many children learn a second language in the first few years of their life, so why wait to
          expose them to coding?
        </p>
        <br>
        <p class="p-content">
          In BlockSchool's 3D world, children can do BIG things using very little code. Due to
          BlockSchool's Scratch-like programming language, they don't even need to type!
        </p>
        <br>
        <p class="p-content">
          The best part? Kids love it.
        </p>

        <h2>2. Why online? Why not in person?</h2>
        <br>
        <p class="p-content">
          a. Finding an incredible class with great teachers in your area can be hard if not impossible
          depending on where you live. Finding private 1-on-1 instruction is even harder.
        </p>
        <br>
        <p class="p-content">
          b. Since teachers live in many different time zones, MEGAkid has classes available
          whenever you want them. You can schedule, reschedule, and cancel at any time too.
        </p>
        <br>
        <p class="p-content">
          c. Sixty to 90 minute classes are optimized to make money, not to maximize your child's
          learning per minute. MEGAkid classes are 40 minutes, and we've found this works well
          given a fun project-based curriculum.
        </p>

        <h2>3. What's "Project-Based Learning?"</h2>
        <br>
        <p class="p-content">
          Project-based learning is based on a simple concept: humans learn by doing. Although this
          concept doesn't shound novel, it is rarely practiced in schools. Most schools force children to
          listen to long lectures, and then test whether they memorized them.
        </p>
        <br>
        <p class="p-content">
          Instead, we put the child in the driver's seat. They are in charge of what they want to learn.
          They choose a project they want to pursue, and our teachers help them achieve their goal.
        </p>
        <br>
        <p class="p-content">
          If we want to encourage students to be critical thinkers and problem solvers, we must give
          them opportunities to practce those skills.
        </p>
      </div>
    </div>
  </div>

  <!--Footer-->
  <div class="footer">
    <hr style="margin-top: 50px;">
    <p>Reticulating splines in San Francisco,California</p>
    <p>Copyright 2017, MEGAkid Inc.</p>
    <br>
    <p>Thank you for the inspiration: Almaden ContrySchool, VIPkid,</p>
    <p>Tom Little, Maria Montessori</p>
  </div>

</div>
