.signUp-container {
  margin-top: 25px;
  background: transparent;
}

.col-centered {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.submit-button {
  display: block;
  text-align: center;
}
