<div class="row">
  <div class="process-bar col-md-4 col-lg-4">
    <div class="bg-line"></div>
    <!--Create an account-->
    <div class="process-status" *ngIf="step1">
      <div class="dot">1</div>
      <a class="active" routerLink="registeration-1">Create an Account</a>
    </div>
    <div class="process-status" *ngIf="!step1">
      <div class="transparent-dot"></div>
      <a>Create an Account</a>
    </div>

    <!--Register Parent and Child information-->
    <div class="process-status" *ngIf="step2">
      <div class="dot">2</div>
      <a class="active" routerLink="registration-2">Parent & Child Info</a>
    </div>
    <div class="process-status" *ngIf="!step2">
      <div class="transparent-dot"></div>
      <a>Parent & Child Info</a>
    </div>

    <!--Schedule Free Trial Class-->
    <div class="process-status" *ngIf="step3">
      <div class="dot">3</div>
      <a class="active" routerLink="registration-4">Schedule Free Trial Class</a>
    </div>
    <div class="process-status" *ngIf="!step3">
      <div class="transparent-dot"></div>
      <a>Schedule Free Trial Class</a>
    </div>
   </div>

  <div class="col-md-8 col-lg-8">
    <router-outlet></router-outlet>
  </div>
</div>
