*{padding:0;margin:0;}

body {
  background: transparent;
  font-family: sans-serif;
  }

a {
  text-decoration: none;
  color:#666;
  }

.process-bar {
  font-size: 16px;
  position: relative;
  height: 300px;
  width: 300px;
  opacity: 0.5;
  margin: 5px auto;
  background: transparent;
  }

.process-bar .bg-line {
  height: 250px;
  width: 0;
  border-left: 2px solid #0be;
  position: absolute;
  top: 25px;
  left: 9px;
  z-index: 1;
  }

.process-bar .process-status {
  display: block;
  height: 30px;
  margin-top: 50px;
}

.process-bar .dot {
  font-size: 14px;
  color: white;
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  margin-right: 10px;
  /*vertical-align: middle;*/
  position: relative;
  z-index: 2;
  background: #0be;
  }

.process-bar .transparent-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  z-index: 2;
  background: transparent;
}

.process-bar .active {
  font-size: 19px;
  font-weight: bold;
  color: black;
  }
