<div>
  <h3>Pick Date & Time</h3>
  <!--
  <p>Planning Meeting with {{teacher.name}}</p>
  -->
  <hr>
  <!--
  <p>All times are in <select id="timezone-selector"></select></p>
  -->
  <!-- fullcalendar and corresponding modals -->
  <div class="container-fluid">
    <div class="btn-group">
      <!--"Search Course" Button triggers corresponding modal -->
      <!-- "Search Course Path: Project -> Teacher -> Course"-->
      <div>
        <span>
          <button type="button" class="btn btn-info" (click)="searchMyBookedCourses()">
            <span class ="glyphicon glyphicon-ok-circle" arial-hidden="true"></span> My Course
          </button>
        </span>
        <span>
          <button type="button" class="{{'btn btn-'+bookingButtonColor}}" *ngIf="activeBookingButton()" (click)="bookingButtonClick()">
            <span class ="glyphicon glyphicon-tag" arial-hidden="true"></span> Reservation
          </button>
        </span>
        <span>
          <button type="button" class="btn btn-info" (click)="initSearchModal()" data-toggle="modal" data-target="#exampleModalSearchCourse">
            <span class ="glyphicon glyphicon-search" arial-hidden="true"></span> Search
          </button>
        </span>
        <span class="label label-success"><span class ="glyphicon glyphicon-ok" arial-hidden="true"></span> reserved</span>
        <span class="label label-info"><span class ="glyphicon glyphicon-tag" arial-hidden="true"></span> {{projectTypeForLabel}}</span>
        <span class="label label-info"><span class ="glyphicon glyphicon-blackboard" arial-hidden="true"></span> {{projectNameForLabel}}</span>
        <span class="label label-info"><span class ="glyphicon glyphicon-user" arial-hidden="true"></span> {{teacherNameForLabel}}</span>
      </div>

      <!-- Search Modal -->
      <div class="modal fade" id="exampleModalSearchCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalSearchCourseTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header bg-info">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="exampleModalSearchCourseTitle">
                <span class ="glyphicon glyphicon-search" arial-hidden="true"></span> Select Your Project and Teacher
              </h4>
            </div>
            <div class="modal-body">
              <form #formRef="ngForm">
                <!--Select Project-->
                <div class="form-group">
                  <label for="project"><span class ="glyphicon glyphicon-blackboard" arial-hidden="true"></span> Project</label>
                  <select class="form-control" id="project"
                          name="project" [(ngModel)]="searchFilter.project_id" (change)="searchTeachersByProject()">
                    <option *ngFor="let projectForSearch of projectsForSearch" [value]="projectForSearch.id">
                      {{projectForSearch.name}}
                    </option>
                  </select>
                </div>
                <!--Active Display project Decription-->
                <div class="form-group" *ngIf="activeProjectInfo()">
                  <h5><span class ="glyphicon glyphicon-info-sign" arial-hidden="true"></span> {{projectDescForSearch}}</h5>
                </div>
                <!--Select Teacher-->
                <div class="form-group" *ngIf="activeTeacherSelectList()">
                  <hr>
                  <label for="teacher"><span class ="glyphicon glyphicon-user" arial-hidden="true"></span> Teacher</label>
                  <select class="form-control" id="teacher"
                          name="teacher" [(ngModel)]="searchFilter.teacher_id">
                    <option *ngFor="let teacherForSearch of teachersForSearch" [value]="teacherForSearch.id">
                      {{teacherForSearch.name}}
                    </option>
                  </select>
                </div>
              </form>
            </div>
            <!--Cancel or Search-->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-info" data-dismiss="modal" (click)="searchCoursesByTeacher()" >Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--"Invalid Search Input" modal) -->
    <div class="modal fade" id="invalidSearchInputModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <span class ="glyphicon glyphicon-question-sign" arial-hidden="true"></span> Sorry!
            </h4>
          </div>
          <div class="modal-body">
            <p>The search information is invalid. Please try again.</p>
          </div>
          <!--Cancel-->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" >Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--"Book Course" Button triggers corresponding modal -->
    <div class="modal fade" id="bookCourseModal" tabindex="-1" role="dialog" aria-labelledby="bookCourseModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bookCourseModalTitle">
              <span class ="glyphicon glyphicon-tag" arial-hidden="true"></span> Book Your Course Now
            </h4>
          </div>
          <div class="modal-body">
            <p><span class ="glyphicon glyphicon-blackboard" arial-hidden="true"></span> {{newCourse.project_name}}</p>
            <p><span class ="glyphicon glyphicon-info-sign" arial-hidden="true"></span> {{projectDescForLabel}}</p>
            <hr>
            <p><span class ="glyphicon glyphicon-user" arial-hidden="true"></span> {{newCourse.teacher_name}}</p>
            <p><span class ="glyphicon glyphicon-time" arial-hidden="true"></span> {{startForBookingModal}} <span class ="glyphicon glyphicon-arrow-right" arial-hidden="true"></span> {{endForBookingModal}}</p>
            <hr>
            <!--Select moduleUnit-->
            <div class="form-group">
              <label for="moduleUnit">Select Your Module</label>
              <select class="form-control" id="moduleUnit" name="moduleUnit" [(ngModel)]="moduleUnitIdForLabel" (change)="updateModuleUnitTitleAndDesc()">
                <option *ngFor="let moduleUnit of modulesUnits" [value]="moduleUnit.id">
                  {{moduleUnit.title}}
                </option>
              </select>
            </div>
            <!--Active Display moduleUnit Description-->
            <div class="form-group" *ngIf="activeModuleUnitInfo()">
              <span class ="glyphicon glyphicon-info-sign" arial-hidden="true"></span> {{newCourse.desc}}
            </div>
          </div>
          <!--Cancel or Submit-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="bookCourse()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!--"Invalid Time Selection" modal) -->
    <div class="modal fade" id="invalidTimeModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <span class ="glyphicon glyphicon-ban-circle" arial-hidden="true"></span> Sorry!
            </h4>
          </div>
          <div class="modal-body">
            <p>The time can not be selected. Please try another time.</p>
          </div>
          <!--Cancel-->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" >Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--"Invalid booking Input" modal) -->
    <div class="modal fade" id="invalidBookingInputModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <span class ="glyphicon glyphicon-question-sign" arial-hidden="true"></span> Sorry!
            </h4>
          </div>
          <div class="modal-body">
            <p>The booking information is invalid. Please try again.</p>
          </div>
          <!--Cancel-->
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal" >Cancel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--"Cancel the course you booked" modal) -->
    <div class="modal fade" id="cancelBookedCourseModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <span class ="glyphicon glyphicon-exclamation-sign" arial-hidden="true"></span> Cancel Your Reservation
            </h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to cancel this course?</p>
          </div>
          <!--Cancel-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeCourse()">Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <hr>
    <div id='calendar'></div>
  </div>
</div>





