.navbar-default {
  background-color: transparent;
}

.navbar-brand {
  padding: 20px 100px 50px 15px;
}

.navbar-nav {
  margin-top: 10px;
}

.navbar-nav .navbar-spacer {
  width: 2px;
  height: 25px;
  margin-top: 12px;
  background-color: #ddd;
}

.brand-image {
  width: 150px;
  height: 25px;
}
