<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">
        <img class="brand-image" alt="BlockSchool" src="../../../assets/images/BlockSchool-Logo-NonStack.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Mission</a></li>
        <li><a href="#">Curriculum</a></li>
        <li><a href="#">Teachers</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#"*ngIf="authenticated()">My Course</a></li>
        <li *ngIf="authenticated()"><a routerLink="signUp">Edit profile</a></li>
        <li class="navbar-spacer"></li>
        <li class="dropdown" *ngIf="authenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{username}}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile">My Profile</a></li>
            <li><a href="#">My Favorites</a></li>
            <li><a href="#">My Submissions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" (click)="logout()">Log Out</a></li>
          </ul>
        </li>
        <!--
        <li><a routerLink="signIn">Sign in</a></li>
        -->
        <li *ngIf="!authenticated()">
        <a type="button" class="btn btn-no-color pull-left"  (click)="login()">Sign in</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
